nav {
    display: flex;
    /* margin-top: 1rem; */
    padding: 1rem;
    font-size: 0.8rem;
    background-color:  rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-contact {
    width: 45rem;
    text-align: center;
    margin-left: 10rem;
    display: flex;
}

.info-contact span {
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    margin-left: 5rem;
    color: rgb(0, 0, 0);
}

.info-contact span:first-child {
    border: none;
}

.info-contact span i {
    color: rgb(13, 0, 255);
}

.info-icon {
    margin-left: 5rem;
}

.info-icon i {
    margin-left: 0.5rem;
}

@media screen and (max-width:750px) {
    nav {
        display: none;
    }
}
